h1 {
    text-align: center;
}

.title_img{
    height: 100px;
    width: 150px;
}

ul{
    font-size: 120%;
}

h2{
    text-align: center;
}

#content {
    border-radius: 30px;
    background-color:  #840a2d;
    width:440px;
    padding-top: 10px;
    margin-left: auto ;
    margin-right: auto ;
    padding-bottom: 20px;
    text-align: left;
}


/****** title ********/
#tripTitle {

}

#titleRow {

}

#titleName {
    border-radius: 30px;
    width:400px;
    margin-left:auto;
    margin-right:auto;
    background-color: white;
}

.titleImgContainer {
    padding-top: 5px;
    border-radius: 30px;
    width:400px;
    margin-left:auto;
    margin-right:auto;
    background-color: #f5efef;
    text-align: center;
    padding-bottom: 5px;
}

/****** availableDates ********/
#availableDates {
    border-radius: 30px;
    width:400px;
    margin-left:auto;
    margin-right:auto;
    background-color: white;
    padding-bottom: 10px;

}

/****** Summary ********/
#tripDetails {

}

#tripSummary {
    border-radius: 30px;
    width:400px;
    margin-left:auto;
    margin-right:auto;
    background-color: #f5efef;
    text-align: center;
}

#program {
    border-radius: 30px;
    width:400px;
    margin-left:auto;
    margin-right:auto;
    background-color: white;

}

/****** services ********/
#services {
    border-radius: 30px;
    width:400px;
    margin-left:auto;
    margin-right:auto;
    background-color: #f5efef;
    padding-bottom: 10px;
    padding-top: 10px;

}

#servicesRow {

}

#servicesIncluded {

}

#servicesExcluded {

}

/****** reviews ********/
#reviews {
    border-radius: 30px;
    width:400px;
    padding-bottom: 20px;
    margin-left:auto;
    margin-right:auto;
    background-color: white;
    text-align: center;
}

#newReviewBlock{
    width:240px;
}

#commentInput{

}

body {
    background-color: #f5efef ;
    font-size: 92%;
}
